body {
    font-family: "Red Hat Display";
    font-size: 16px;
    background-color: hsl(225, 100%, 94%);
    padding: 70px 0;
}

.order {
    width: calc(100% - 48px);
    border-radius: 25px;
    background-color: white;
    margin: 0 auto;
}

.image-wrapper img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 25px 25px 0 0;
}

.order-inner {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
}

.order-text {
    text-align: center;
}

.order-text h1 {
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #20254f;
}

.order-text p {
    color: #838697;
    font-size: 15px;
    font-weight: 600;
}

.order-text {
    margin-bottom: 25px;
}

.order-plan {
    padding: 16px;
    background-color: #f6fafd;
    border-radius: 10px;
    margin-bottom: 25px;
}

.order-music-wrapper,
.order-pricing,
.order-change {
    display: inline-block;
}

.order-music-wrapper {
    margin-right: 16px;
}

.order-change {
    margin-left: 40px;
}

.annual-plan {
    color: #0f1932;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 13px;
}

.yearly-pricing {
    color: #7d8296;
    margin: 0;
    font-size: 13px;
}

.order-change a {
    font-size: 14px;
    color: #40359d;
    position: relative;
    top: -15px;
}

.btn-primary {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 900;
    background-color: #382ae1;
    border: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}

.btn-cancel {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #717a97;
    font-weight: 900;
    margin-bottom: 35px;
}

@media screen and (min-width: 401px) {
    body {
        background-image: url("../images/pattern-background-desktop.svg");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }

    .order {
        width: 400px;
    }

    .order-change {
        margin-left: 120px;
    }

    .order-description {
        width: 80%;
        margin: 0 auto;
    }
}
