body {
    font-family: "Red Hat Display";
    font-size: 16px;
    background-color: hsl(225, 100%, 94%);
    padding: 70px 0;
}

.order {
    width: calc(100% - 48px);
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
}

.image-wrapper img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
}

.order-inner {
    padding: 0 24px;
}

.order-text {
    text-align: center;
}

.order-text h1 {
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #20254f;
}

.order-text p {
    color: #838697;
    font-size: 15px;
    font-weight: 600;
}

.order-text {
    margin-bottom: 25px;
}

.order-plan {
    padding: 16px;
    background-color: #f6fafd;
    border-radius: 8px;
}

.order-music-wrapper,
.order-pricing,
.order-change {
    display: inline-block;
}

.order-music-wrapper {
    margin-right: 16px;
}
